/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #ddd;
}

.product {
  margin: 15px 0;
  background-color: #fff;
  border: 1px solid #666;
  padding: 10px 25px;
  font-size: 125%;
}

.product a {
  display: block;
  margin: 20px 0;
}

.product-list {
  margin: auto;
}

.product-list .product {
  height: 200px;
  overflow: hidden;
  font-size: 100%;
}

.footer{
    padding-top: 30px;
        border-top: 1px solid;
}

.footer .footer_content{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: space-between;
  
}
